@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
<!-- Main -->
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="9u skel-cell-mainContent">
				<div class="content content-left">
					<!-- Content -->
					<article class="is-page-content">
						<section>
							@Umbraco.RenderMacro("RegisterMember")
						</section>                           
					</article>
					<!-- /Content -->
				</div>
			</div>
        	<div class="3u">
                <div class="sidebar">
                    <!-- Sidebar -->
                    @{ Html.RenderPartial("winAllLatestNewsWidget"); }
                    <!-- /Sidebar -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main -->